* {margin: auto; padding: 0; font-family: arial; }

/*body: cuerpo de la pagina*/
body {background-color: #66ccff;}

/*cabecera*/
header {background-color: #008080;}
header h1 {text-align: center; color: navy; padding: 0.5em; font-size: 1.5em;}
header h2 {text-align: center; color: black;; padding: 0.5em; font-size: 1.5em;}

/*navegador*/
nav {background-color: #660099; min-height: 2em;}
nav p { display: inline; }
nav a:link, nav a:visited { text-decoration: none; color: #66FF99; background-color: #027244; margin: 0.3em;}
nav a:hover, nav a:active { text-decoration: none; color: #9bf5ff; background-color: #543683; margin: 0.3em;}

/*principal: section:*/
section { width: 75%; background-color: #99CC66; float: left;}
section h1 {text-align: center; padding: 0.5em; color: olive; font-size: 1.4em;}
section h2 {text-align: center; padding: 0.5em; color: black; font-size: 1.6em;}
section h3 {text-align: left; padding: 0.3em 3em; color: #663366; font-size: 1em;}

/*Selectores de id para div*/
#fondoDiv{
    background-image: url(logo.png);
    width: 400px;
    height: 100px;
    background-position: top;
    
    
}
  

#menu{
    background-color:brown;
}
        #menu ul{
        list-style:none;
        margin:0;
        padding:0;
}
#menu ul li{
    display:inline-block;
   
}
#menu ul li a{
    color:white;
    text-decoration-color: none;
    display:block;
    padding: 10px  50px;
 
}
#menu ul li a:hover{
    background-color:blue;
}
.item-r{
    float:left;
}

.slider {
	width: 50%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*articulos: article*/ 
article {margin: 0.5em 3em; padding: 0.5em 2em; background-color: white; border: 3px double aqua;} 
article p {text-align: justify;} 

/*propaganda: aside*/
aside {width:25%; float: left;} 
#anuncio1 { margin: 20px; padding: 10px; border: 2px solid blue; background-color: white;} 
#anuncio1 h1 {font-size: 1.1em; text-align: left; padding: 0.2em 0em;}
#anuncio1 h2 {font-size: 1.5em; text-align: center; padding: 0.5em 0em;} 
#anunciol p {font-size: 0.9em; padding: 0.2em 1em;} 

/*pie de página: footer*/
footer {clear: both; background-color: #ccffff;} 
footer h1 {text-align: center; font-size: 1.4em; color: navy; padding: 0.7em;} 
footer h2 {text-align: center; font-size: 1em; padding: 0.4em;} 
footer a {text-decoration: none; color: green;}